STORAGE_PATH=/tmp/aruna
BLOB_ROOT=/tmp/aruna/blobstore
SOCKET_ADDRESS=0.0.0.0:3000
P2P_SOCKET_ADDRESS=0.0.0.0:3001
REALM_DESCRIPTION="Aruna Realm"
ONBOARDING_SECRET=

BOOTSTRAP_NODES=
METADATA_REPLICATION_FACTOR=3

S3_PORT=1337
S3_HOST=localhost
S3_ADDRESS=0.0.0.0
