plugins {
    id 'nf-ga4gh'
}

process {
    executor = 'tes'
    container = 'ubuntu:24.04'
    cpus = 1
    memory = '256 MB'
}

workDir = "s3://${System.getenv('ARUNA_WORK_BUCKET')}/nextflow-work"

tes {
    endpoint = "${System.getenv('ARUNA_API_URL') ?: 'http://127.0.0.1:3000/api/v1'}/ga4gh/tes"
    basicUsername = System.getenv('ARUNA_ACCESS_KEY_ID')
    basicPassword = System.getenv('ARUNA_ACCESS_SECRET')
}

aws {
    accessKey = System.getenv('ARUNA_ACCESS_KEY_ID')
    secretKey = System.getenv('ARUNA_ACCESS_SECRET')
    region = System.getenv('ARUNA_S3_REGION') ?: 'eu-central-1'
    client {
        endpoint = System.getenv('ARUNA_S3_URL') ?: 'http://127.0.0.1:1337'
        s3PathStyleAccess = true
    }
}
